<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.root.mybatis.member.MemberMapper">

	<resultMap id="member" type="com.care.root.member.dto.MemberDTO" >
		<id property="id" column="id" />
		<result property="pw" column="pw" />
		<result property="addr1" column="addr1" />
		<result property="addr2" column="addr2" />
		<result property="addr3" column="addr3" />
		<result property="email" column="email" />
		<result property="sessionId" column="session_id" />
		<result property="phoneNumber" column="phone_number" />
		
	</resultMap>
	<select id="memberAllList" resultMap="member">
		select * from member
	</select>
	<insert id="registerWrite">
		insert into member(id, pw, addr1, addr2, addr3, email, phone_number, session_id) 
			values(#{id},#{pw},#{addr1},#{addr2},#{addr3},#{email},#{phoneNumber},#{sessionId})
	</insert>
	<select id="getMember" resultMap="member">
		select * from member where id=#{id}
	</select>
	
	
	<delete id="memberDelete">
		delete from member where id=#{id}
	</delete>
	
	<update id="memberModify">
		update member set pw=#{pw}, addr1=#{addr1}, addr2=#{addr2}, addr3=#{addr3}, email=#{email},phone_number=#{phoneNumber},session_id=#{sessionId}
			where id=#{id} 
	</update>
	<select id="idChk" resultType="Integer">
		select count(*) from member
		where id=#{id}
	</select>
</mapper>




