<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.root.mybatis.review.ReviewMapper">
	
		<!-- <resultMap id="board" type="com.care.root.review.dto.ReviewDTO">
			<id property="review_no" column="review_no"/>
			<result property="review_title" column="review_title"/>
			<result property="review_content" column="review_content"/>
			<result property="id" column="id"/>
			<result property="review_file_name" column="review_file_name"/>
			<result property="review_date" column="review_date"/>
			<result property="review_hit_num" column="review_like"/>
			<result property="review_like" column="review_hit_num"/>
		</resultMap> -->
	<resultMap id="review" type="com.care.root.review.dto.ReviewDTO">
		<!--
			property = DTO
			column = DB
		-->
		<id property="review_no" column="review_no" />
		<result property="id" column="id" />
		<result property="review_title" column="review_title" />
		<result property="review_content" column="review_content" />
		<result property="review_hit_num" column="review_hit_num" />
		<result property="review_like" column="review_like" />
		<result property="review_date" column="review_date" />
		<result property="review_file_name" column="review_file_name" />
	</resultMap>
	
	<resultMap type="com.care.root.review.dto.ReviewPhotoDTO" id="photo_view">
		<result property="photo_view" column="stored_file_name"/>
		<result property="write_group" column="r_write_group"/>
	</resultMap>
	
	<insert id="r_writeSave">
		insert into review(review_no, id, review_title, review_content)  
		values(review_seq.nextval, #{id}, #{review_title}, #{review_content})
	</insert>
	
	<insert id="photo_save">
		insert into r_photo(id, r_write_group, origin_file_name, stored_file_name) 
		values(#{id}, (select review_no from review where id=#{id} and review_title = #{review_title}), #{original_file_name}, #{stored_file_name})
	</insert>
	
	<update id="r_modify">
		update review set review_title=#{review_title}, review_content=#{review_content}, 
		review_file_name=#{review_file_name} where review_no=#{review_no}
	</update>
	
	<select id="boardList" resultMap="review">
		select * from review
	</select>
	
	<select id="content" resultMap="review">
		select * from review where review_no = #{review_no}
	</select>
	
	<select id="photo_view" resultMap="">
	</select>
	
	<update id="upHit">
		update review set review_hit_num = review_hit_num + 1 where review_no = #{review_no}
	</update>
</mapper>
  	